.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.search-field{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 4rem;
    margin: auto;
    background-color: white;
    border-radius: .7rem;
}

.search-field input {
    padding: .5rem .5rem;
    font-size: 1.5rem;
    color: black;
    background-color: #f0eaea;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.search-field input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.search-field svg {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

.music-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.music-result img {
    max-height: 80vh;
    max-width: 90%;
}

.music-result div{
    width: 90%;
}

.content{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
