

.preview {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    padding: 5rem;
    background-size: 100% 100%;
    background-repeat: center center;
}

.preview img{
  margin-top: 1rem;
  max-width: 90%;
  max-height: 90vh;
  z-index: 100;
  box-shadow: -5px 8px 17px -4px rgba(51, 50, 50, 0.75);
-webkit-box-shadow: -5px 8px 17px -4px rgba(51, 50, 50, 0.75);
-moz-box-shadow: -5px 8px 17px -4px rgba(51, 50, 50, 0.75);
}

.preview div {
    align-items: center;
    text-align: center;
}

.preview div h2{
    color: white;
    background-color: #141313;
    padding: .5rem;
    border-radius: .5rem;
}

.preview .search-field{
    display: flex;
    gap: 1rem;
    padding: 2rem 4rem;
    background-color: white;
    border-radius: .7rem;
    box-shadow: -5px 8px 17px -4px rgba(51, 50, 50, 0.75);
  -webkit-box-shadow: -5px 8px 17px -4px rgba(51, 50, 50, 0.75);
  -moz-box-shadow: -5px 8px 17px -4px rgba(51, 50, 50, 0.75);
}

.preview div input {
    padding: 1rem .5rem;
    font-size: 1.5rem;
    color: black;
    background-color: #f0eaea;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.preview div input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.preview div svg {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

.preview .music-result {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 8rem;
}

.preview .music-result img {
    width: 70%;
}

.preview .music-result audio{
    box-shadow: -5px 8px 17px -4px rgba(51, 50, 50, 0.75);
  -webkit-box-shadow: -5px 8px 17px -4px rgba(51, 50, 50, 0.75);
  -moz-box-shadow: -5px 8px 17px -4px rgba(51, 50, 50, 0.75);
}